In [9]:
print("hello world!");

hello world!

In [10]:
import yfinance as yf
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [11]:
symbols = ['BTC-USD', 'ETH-USD', 'USDT-USD', 'SOL-USD', 'DOGE-USD']
start_date = '2018-01-01'
end_date = '2023-11-29'

In [15]:
lista_dfs = []
path = '../data/raw/'

for symbol in symbols:
    path_full = path + symbol + '.parquet.gzip'
    df = yf.download(symbol, start=start_date, end=end_date)
    df.to_parquet(path=path_full, compression='gzip')

[*********************100%%**********************]  1 of 1 completed

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [16]:
path_local = '../data/raw/BTC-USD.parquet.gzip'

In [17]:
data_frame = pd.read_parquet(path_local)

In [18]:
data_frame

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-01-01,14112.200195,14112.200195,13154.700195,13657.200195,13657.200195,10291200000
2018-01-02,13625.000000,15444.599609,13163.599609,14982.099609,14982.099609,16846600192
2018-01-03,14978.200195,15572.799805,14844.500000,15201.000000,15201.000000,16871900160
2018-01-04,15270.700195,15739.700195,14522.200195,15599.200195,15599.200195,21783199744
2018-01-05,15477.200195,17705.199219,15202.799805,17429.500000,17429.500000,23840899072
...,...,...,...,...,...,...
2023-11-24,37296.316406,38415.339844,37261.605469,37720.281250,37720.281250,22922957823
2023-11-25,37721.414062,37892.429688,37617.417969,37796.792969,37796.792969,9099571165
2023-11-26,37796.828125,37820.300781,37162.750000,37479.121094,37479.121094,13744796068
2023-11-27,37454.191406,37559.355469,36750.128906,37254.167969,37254.167969,19002925720
2023-11-28,37247.992188,38368.480469,36891.089844,37831.085938,37831.085938,21696137014